<<<<<<< HEAD
#middle-col {
  width: 100%;
  min-width: 100px;
  height: 100%;
  border: 1px solid black;
}

#drop-down {
  position: relative;
}
=======
#middle-col {
  width: 100%;
  min-width: 100px;
  height: 100%;
  border: 1px solid black;
}
>>>>>>> 4de6b1f4cc2757b5b90f0a0d2be3a05123ad83d7
